@import '@fontsource/fira-mono';

html { scroll-behavior: smooth; }

body {
	background-color: #1C1A19; /* Replace with your desired color code */
}
  

:root {
	--font-body: Roboto ;
	--font-title: Noto;
	--color-tag-0: #935337;
	--color-bg-0: #292422 ;
	--color-bg-1: #1C1A19;
	--color-bg-2: rgba(0, 0, 0, 0.5);
	--color-highlight-0: rgb(230, 103, 19);
	--color-highlight-1: #ff5e14;
	--color-theme-1: #1900ff;
	--color-theme-2: #0084ff;
	--color-text: #f8f4f4 ;
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}
@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}


.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

#academic_projects {
	display: block;
	margin-top: 50px;
	margin-bottom: 50px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Optional: space between items */
}
  
/* Other necessary styles */
.container {
	padding: 0.01em 16px;
	margin-top: 16px;
	margin-bottom: 16px;
}
  
.center {
	text-align: center;
}
  
.large {
	font-size: 18px;
}

p {
	line-height: 1.5;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

.startcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 800px) {
    .startcontainer {
        flex-direction: row;
        align-items: flex-start;
		align-items: center;
    }
}

.rounded-image {
	border-radius: 12%;
	margin-right: 20px;
}

.text-content {
    width: 100%;
}

.underline {
	position: relative;
	padding-bottom: 2px; /* Adjust the space between the text and the line */
}

.underline::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px; /* Adjust the thickness of the line */
	background-color: rgb(255, 255, 255); /* Adjust the color of the line */
}

